---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Engin TÜRKER | Portfolio">
	<Header />
	
	<main>
		<Hero />
        <About />
        <Experience />
        <Skills />
        <Contact />
	</main>
    
    <Footer />
</Layout>

<style is:global>
    :root {
        --primary: #6366f1;
        --secondary: #ec4899;
    }
    
    html {
        scroll-behavior: smooth;
    }

    /* Selection Color */
    ::selection {
        background: rgba(99, 102, 241, 0.3);
        color: white;
    }

    /* Animation utility */
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
</style>
